{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "standard",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "semi": "off",
    "quotes": "off",
    "camelcase": "off",
    "curly": "off",
    "react/prop-types": "off",
    "spaced-comment": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "no-undef": "off",
    "no-unused-vars": "warn",
    "multiline-ternary": "off",
    "no-console": "warn",
    "comma-dangle": ["error", "always-multiline"]
  }
}
