.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    padding: 6px 70px;
  }

  p {
    font-weight: bold;
    &.success {
      color: green;
    }
    &.error {
      color: red;
    }
  }
}
