.fixturesContent .teamFixture {
  flex-direction: column;
  align-items: flex-start;

  &.active {
    background-color: #209030;

    span {
      color: white;
    }
  }

  div.hr {
    border-top: 1px solid grey;
    margin: 5px 0;
    width: 100%;
  }
}
