.wrapper .preloader-wrapper {
  display: none;
  width: 50px !important;
  height: 50px !important;
  position: fixed;
  top: calc(100vh / 2 - 64px / 2);
  left: calc(100vw / 2 - 64px / 2);
  color: green;
  z-index: 100;

  &.active {
    display: block;
  }
}
